.places {
	display: flex;
	position: relative;
	flex-flow: row wrap;
	justify-content: space-around;
}

.places h1 {
	width: 100%;
	margin: 25px 0 5px;
	font-size: 30px;
}

.place {
	display: flex;
	flex-flow: column nowrap;
	width: 390px;

	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.info {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 80px;
	margin: 5px 0;
}

.info h2 {
	grid-column-start: 2;
	grid-column-end: 5;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
}

.price_by_night {
	position: relative;
	grid-column-start: 5;
	grid-column-end: 6;
	top: -7.5px;
	min-width: 60px;
	height: 60px;

	margin-left: -5px;
	padding: 5px;
	padding-right: 7.5px;
	border: 4px solid #FF5A5F;
	border-radius: 50%;

	text-align: center;
	line-height: 2.1;
	font-size: 30px;
	color: #FF5A5F;
}

.information {
	display: flex;
	position: relative;
	height: 80px;

	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;

	padding: 5px;
	border: solid #DDDDDD;
	border-width: 1px 0;
	text-align: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
}

.max_guest::before {
	display: block;
	content: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_group.png");
}

.number_rooms::before {
	display: block;
	content: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bed.png");
}

.number_bathrooms::before {
	display: block;
	content: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bath.png");
}

.amenity,
.reviews {
	margin-top: 40px;
}

.amenity h2,
.reviews h2 {
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	font-size: 16px;
}

.amenity>ul,
.reviews>ul {
	list-style: none;
}

.reviews h3 {
	font-size: 14px;
}

.reviews p {
	font-size: 12px;
}