.filters {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	width: 100%;
	height: 70px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	background-color: white;
}

.filter {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 17.5px);
}

.grid-item {
	width: 100%;
	height: 100%;
}

.locations {
	grid-column-start: 1;
	grid-column-end: 2;
	border-right: 1px solid #DDDDDD;
}

.amenitites {
	grid-column-start: 2;
	grid-column-end: 3;
}

.popover {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	display: none;
	width: 100%;
	margin: 0;
	padding: 20px 0;

	list-style: none;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	background-color: #FAFAFA;
}

.popover li {
	display: block;
}

.popover a {
	padding: 1px 0;
	text-decoration: none;
	color: inherit;
}

.dropdown {
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	text-align: left;
}

.sub-grid-item {
	margin: -7.5px 0 5px -20px;
}

.sub-grid-item li {
	padding: 2px 0;
}

h2 {
	font-size: 16px;
}

h3 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;

	margin: 0px;
	font-weight: 600;
}

h4 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;

	margin: 0px;
	font-size: 14px;
	font-weight: 400;
}

.button {
	grid-column-start: 4;
	grid-column-end: 5;
	justify-self: end;
	align-self: center;

	width: 80%;
	height: 48px;
	margin-right: 30px;
	border: 0;
	border-radius: 4px;

	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
}

.filters:hover {
	cursor: pointer;
}

.filter:hover .popover {
	display: block;
}

.filter:hover .dropdown {
	display: flex;
}

button:hover {
	cursor: pointer;
	opacity: 90%;
}