.places {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: space-evenly;
}

.places h1 {
	width: 100%;
	font-size: 30px;
}

.place {
	width: 390px;
	margin: 20px;
	padding: 20px;

	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.place h2 {
	font-size: 30px;
	text-align: center;
}